<h2>Details</h2>
<form
  *ngIf="nameForm"
  [formGroup]="nameForm"
  (ngSubmit)="changeValue()"
  novalidate
>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      formControlName="name"
      placeholder="Ex. Alexis"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Contacts</mat-label>
    <input
      matInput
      type="text"
      formControlName="contacts"
      placeholder="Ex. Google"
    />
  </mat-form-field>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!nameForm.valid"
  >
    Change
  </button>
</form>
<hr />
